body {
    background: #111;
    user-select: none;
}

#game-cont {
    width: 100%;
    max-width: 962px;
    max-height: 542px;
    border: 1px solid #000;
    box-shadow: 0 0 5px #000;
    margin-top: 50px;
}

#game-aspect {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

#game-aspect iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
    border: none;
}